<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <title>Airave UI | Input Field</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="menu-icon">
                <i class="fa fa-bars"></i>
            </div>     
            <div class="logo-name">
                <a href="/index.html">
                    <span class="white-color-text">Airave</span>
                    <span class="logo">UI</span>
                </a>
            </div>
            <div class="nav">                    
                <ul class="nav-links">
                    <a href="https://github.com/aiman-ansari"><li><i class="fa fa-github"></i></li></a>               
                    <a href="https://www.linkedin.com/in/aiman-ansari-0054a01a7/"><li><i class="fa fa-linkedin"></i></li></a>
                    <a href="https://twitter.com/_aimanansari"><li><i class="fa fa-twitter"></i></li></a>
                </ul>
            </div>
        </div>
        <div class="left-sidebar pd-1">
            <ul>
                <li><h5>Getting started</h5></li>
                <li><a href="/src/components/Installation/Install.html">Installation</a></li>
                <li><a href="/src/components/colors/color.html">Colors</a></li>
                <li><a href="/src/components/Text-utilities/Text-utilities.html">Text Utilities</a></li>
                <li><h5>Components</h5></li>
                <li><a href="/src/components/alert/Alert.html">Alert</a></li>
                <li><a href="/src/components/avatar/Avatar.html">Avatar</a></li>
                <li><a href="/src/components/Badge/Badge.html">Badge</a></li>
                <li><a href="/src/components/Image/Image.html">Image</a></li>
                <li><a href="/src/components/Button/Button.html">Button</a></li>
                <li><a href="/src/components/cards/card.html">Card</a></li>
                <li><a href="/src/components/Input/Input-field.html" class="active">Input Field</a></li>
                <li><a href="/src/components/Rating/Rating.html">Rating</a></li>
                <li><a href="/src/components/list/list.html">Lists</a></li>
                <li><a href="/src/components/Navigation/Navigation.html">Navigation</a></li>
            </ul>
        </div>
    <main>
        <div class="container-section">
            <h2>Input Field</h2>
            <p class="mt-1 mb-1 bold-text">Input Field is used to get user's information and feedback.</p> 
            <hr>
            <section>
            <div id="textbox">
                <h2 class="mt-1">Textbox</h2>
                    <div class="demo-container">
                        <textarea type="text" class="textbox" placeholder="Text here"></textarea>
                    </div>
            </div>
            <pre>
                <code class="language-html">
&lt;textarea type=&quot;text&quot; class=&quot;textbox&quot;&gt;&lt;/textarea&gt;
                </code>
            </pre>
            <div id="simple-form">
                <h2>Input Form</h2>
                    <div class="demo-container">
                       <div class="form-control">
                           <label for="email">Email</label>
                            <input type="email" placeholder="Enter your email" class="input"/>
                            <label for="password">Password</label>
                            <input type="password" placeholder="Enter your password"  class="input"/>
                            <div class="flex-align-center">
                                <button class="btn btn-primary mt-1">Sign In</button>
                            </div>
                        </div>
                    </div>
            </div>
            <pre>
                <code class="language-html">
&lt;div class=&quot;form-control&quot;&gt;
    &lt;label for=&quot;email&quot;&gt;Email&lt;/label&gt;
        &lt;input type=&quot;email&quot; placeholder=&quot;Enter your email&quot; class=&quot;input&quot;/&gt;
    &lt;label for=&quot;password&quot;&gt;Password&lt;/label&gt;
        &lt;input type=&quot;password&quot; placeholder=&quot;Enter your password&quot;  class=&quot;input&quot;/&gt;
    &lt;div class=&quot;flex-align-center&quot;&gt;
        &lt;button class=&quot;btn btn-primary mt-1&quot;&gt;Sign In&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code>
            </pre>
            <div id="search-box">
                <h2>Search Box</h2>
                    <div class="demo-container flex-align-center flex-col">
                       <div class="searchbox">
                           <i class="fa fa-search input-icon"></i>
                           <input type="text" placeholder="Search here"class="search-input"/>
                       </div>
                    </div>
            </div>
            <pre>
                <code class="language-html">
&lt;div class=&quot;searchbox&quot;&gt;
    &lt;i class=&quot;fa fa-search input-icon&quot;&gt;&lt;/i&gt;
    &lt;input type=&quot;text&quot; placeholder=&quot;Search here&quot;class=&quot;search-input&quot;/&gt;
&lt;/div&gt;
                </code>
            </pre>
            <div id="form-validation">
                <h2>Form with validation</h2>
                    <div class="demo-container flex-align-center gap-1 mb-1 flex-wrap">
                        <div class="form">
                            <div class="input-with-icons-secondary mb-1">
                                <i class="bi bi-person-fill input-icon"></i>
                                <input type="email" placeholder="Enter your Email" class="icon-input" id="email"/>
                            </div>
                            <div class="input-with-icons-secondary mb-1">
                                <i class="fa fa-lock input-icon"></i>
                                <input type="password" placeholder="Enter your Password" class="icon-input" id="password"/>
                            </div>
                            <p id="error"></p>
                            <div class="flex-align-center">
                                <button class="btn btn-gradient-pink width-100" id="btn-login">Login</button>
                            </div>
                        </div>
                    </div>
            </div>
            <pre>
                <code class="language-html">
&lt;div class=&quot;form&quot;&gt;
    &lt;div class=&quot;input-with-icons-secondary mb-1&quot;&gt;
        &lt;i class=&quot;bi bi-person-fill input-icon&quot;&gt;&lt;/i&gt;
        &lt;input 
        type=&quot;email&quot; 
        placeholder=&quot;Enter your Email&quot;
        class=&quot;icon-input&quot; 
        id=&quot;email&quot;/&gt;
    &lt;/div&gt;
    &lt;div class=&quot;input-with-icons-secondary mb-1&quot;&gt;
        &lt;i class=&quot;fa fa-lock input-icon&quot;&gt;&lt;/i&gt;
        &lt;input 
        type=&quot;password&quot;
        placeholder=&quot;Enter your Password&quot; 
        class=&quot;icon-input&quot; 
        id=&quot;password&quot;/&gt;
    &lt;/div&gt;
    &lt;p id=&quot;error&quot;&gt;&lt;/p&gt;
    &lt;div class=&quot;flex-align-center&quot;&gt;
        &lt;button class=&quot;btn btn-gradient-pink width-100&quot; id=&quot;btn-login&quot;&gt;Login&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

                </code>
            </pre>
            <pre>
                <code class="language-javascript">
//  Javascript
const email = document.querySelector('#email');
const btnLogin =document.querySelector('#btn-login');
const error = document.querySelector('#error');
const password = document.querySelector('#password');
btnLogin.addEventListener('click',()=>{
    if(email.value=='' || password.value=='' ){
        error.innerText = "Please fill all the field";
        error.style.color = "var(--danger-text-color)";
        error.style.marginBottom = "1rem";
        error.style.fontSize = "0.9rem"
    }
    else if(password.value.length <6){
        error.innerText = "Password should be greater than 6 character."
        error.style.color = "var(--danger-text-color)"
    }
    else {
        error.style.display = "none"
    }
})
                </code>
            </pre>

            <div id="round-border">
                <h2>Input with Icons</h2>
                    <div class="demo-container mb-1">
                        <div class="form">
                            <div class="input-with-icons">
                                <i class="bi bi-person-fill input-icon"></i>
                                <input type="email" placeholder="Enter your Email" class="icon-input"/>
                            </div>
                            <div class="input-with-icons">
                                <i class="fa fa-lock input-icon"></i>
                                <input type="password" placeholder="Enter your Password" class="icon-input"/>
                            </div>
                            <div class="flex-align-center">
                                <button class="btn btn-primary round-border">Login</button>
                            </div>
                        </div>
                    </div>   
            </div>
            <pre>
                <code class="language-html">
&lt;div class=&quot;form&quot;&gt;
    &lt;div class=&quot;input-with-icons &quot;&gt;
        &lt;i class=&quot;bi bi-person-fill input-icon&quot;&gt;&lt;/i&gt;
        &lt;input type=&quot;email&quot; placeholder=&quot;Enter your Email&quot; class=&quot;icon-input&quot;/&gt;
    &lt;/div&gt;
    &lt;div class=&quot;input-with-icons&quot;&gt;
        &lt;i class=&quot;fa fa-lock input-icon&quot;&gt;&lt;/i&gt;
        &lt;input type=&quot;password&quot; placeholder=&quot;Enter your Password&quot; class=&quot;icon-input&quot;/&gt;
    &lt;/div&gt;
    &lt;div class=&quot;flex-align-center&quot;&gt;
    &lt;button class=&quot;btn btn-primary round-border&quot;&gt;Login&lt;/button&gt;
&lt;/div&gt;
                </code>
            </pre>
                
            </section>                
    </main>
    <div class="right-sidebar">
        <ul>
                <li><h5>On this page</h5></li>
                <li><a href="#textbox">TextBox</a></li>
                <li><a href="#simple-form">Inut form</a></li>
                <li><a href="#search-box">searchBox</a></li>
                <li><a href="#form-validation">Form with validation</a></li>
                <li><a href="#round-border">Input with icon</a></li>

            </ul>
    </div>
    </div>
    <script src="/src/index.js"></script>
    <script src="/src/prism/prism.js"></script>

    <script src="/src/components/Input/Input.js"></script>

</body>
</html>