<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <title>Airave UI|list</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="menu-icon">
                <i class="fa fa-bars"></i>
            </div>     
            <div class="logo-name">
                <a href="/index.html">
                    <span class="white-color-text">Airave</span>
                    <span class="logo">UI</span>
                </a>
            </div>
            <div class="nav">                    
                <ul class="nav-links">
                    <a href="https://github.com/aiman-ansari"><li><i class="fa fa-github"></i></li></a>               
                    <a href="https://www.linkedin.com/in/aiman-ansari-0054a01a7/"><li><i class="fa fa-linkedin"></i></li></a>
                    <a href="https://twitter.com/_aimanansari"><li><i class="fa fa-twitter"></i></li></a>
                </ul>
            </div>
        </div>
        <div class="left-sidebar pd-1">
            <ul>
                <li><h5>Getting started</h5></li>
                <li><a href="/src/components/Installation/Install.html">Installation</a></li>
                <li><a href="/src/components/colors/color.html">Colors</a></li>
                <li><a href="/src/components/Text-utilities/Text-utilities.html">Text Utilities</a></li>
                <li><h5>Components</h5></li>
                <li><a href="/src/components/alert/Alert.html">Alert</a></li>
                <li><a href="/src/components/avatar/Avatar.html">Avatar</a></li>
                <li><a href="/src/components/Badge/Badge.html">Badge</a></li>
                <li><a href="/src/components/Image/Image.html">Image</a></li>
                <li><a href="/src/components/Button/Button.html">Button</a></li>
                <li><a href="/src/components/cards/card.html">Card</a></li>
                <li><a href="/src/components/Input/Input-field.html">Input Field</a></li>
                <li><a href="/src/components/Rating/Rating.html">Rating</a></li>
                <li><a href="/src/components/list/list.html" class="active">Lists</a></li>
                <li><a href="/src/components/Navigation/Navigation.html">Navigation</a></li>
                <li><a href="/src/components/Grid/Grid.html">Grid</a></li>
            </ul>
        </div>
    <main>
        <div class="container-section">
            <h2>Lists</h2>
            <p class="mt-1 mb-1 bold-text">List is used to show set of different items.</p> 
            <hr>
        <section>
            <div id="simple-list">
                <h2 class="mt-1">Simple List</h2>
                <p class="mt-1">To use simple list add <span class="purple-text"> list </span>class .</p>
                <div class="demo-container">
                    <div class="list">
                        <ul>
                            <li>This is list 1</li>
                            <li>This is list 2</li>
                            <li>This is list 3</li>
                            <li>This is list 4</li>
                            <li>This is list 5</li>
                            <li>This is list 6</li>

                        </ul>
                    </div>
                </div>
                <pre>
                    <code class="language-html">
                    &lt;div class=&quot;list&quot;&gt;
                        &lt;ul&gt;
                            &lt;li&gt;This is list 1&lt;/li&gt;
                            &lt;li&gt;This is list 2&lt;/li&gt;
                            &lt;li&gt;This is list 3&lt;/li&gt;
                            &lt;li&gt;This is list 4&lt;/li&gt;
                            &lt;li&gt;This is list 5&lt;/li&gt;
                            &lt;li&gt;This is list 6&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                    </code>
                </pre>
            </div>
            <div id="stacked-list">
                <h2>Stacked Lists</h2>
                <p class="mt-1">Stacked list is normally used to notifications .</p>
                <div class="demo-container">
                    <div class="list">
                        <ul>
                            <li>
                                    <img src="/src/assest/avatar-1.jpg" class="avatar avatar-sm"/>
                                    <span class="list-description">This is stacked list</span><br>
                            </li>
                            <li>
                                <img src="/src/assest/avatar-1.jpg" class="avatar avatar-sm"/>
                                <span class="list-description">This is stacked list</span>
                            </li> 
                            <li>
                                <img src="/src/assest/avatar-1.jpg" class="avatar avatar-sm"/>
                                <span class="list-description">This is stacked list</span>
                            </li>
                            <li>
                                <img src="/src/assest/avatar-1.jpg" class="avatar avatar-sm"/>
                                <span class="list-description">This is stacked list</span>
                            </li>
                            <li>
                                <img src="/src/assest/avatar-1.jpg" class="avatar avatar-sm"/>
                                <span class="list-description">This is stacked list</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <pre>
                    <code class="language-html">
&lt;div class=&quot;list&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;
            &lt;img src=&quot;/src/assest/avatar-1.jpg&quot; class=&quot;avatar avatar-sm&quot;/&gt;
            &lt;span class=&quot;list-description&quot;&gt;This is stacked list&lt;/span&gt;&lt;br&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src=&quot;/src/assest/avatar-1.jpg&quot; class=&quot;avatar avatar-sm&quot;/&gt;
            &lt;span class=&quot;list-description&quot;&gt;This is stacked list&lt;/span&gt;
        &lt;/li&gt; 
        &lt;li&gt;
           &lt;img src=&quot;/src/assest/avatar-1.jpg&quot; class=&quot;avatar avatar-sm&quot;/&gt;
           &lt;span class=&quot;list-description&quot;&gt;This is stacked list&lt;/span&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src=&quot;/src/assest/avatar-1.jpg&quot; class=&quot;avatar avatar-sm&quot;/&gt;
            &lt;span class=&quot;list-description&quot;&gt;This is stacked list&lt;/span&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src=&quot;/src/assest/avatar-1.jpg&quot; class=&quot;avatar avatar-sm&quot;/&gt;
            &lt;span class=&quot;list-description&quot;&gt;This is stacked list&lt;/span&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
                    </code>
                </pre>
                
            </section>                
    </main>
    <div class="right-sidebar">
        <ul>
            <li><h5>On this page</h5></li>
            <li><a href="#simple-list">Simple List</a></li>
            <li><a href="#stacked-list">Stacked List</a></li>
        </ul>
    </div>
    </div>
    <script src="/src/index.js"></script>
    <script src="/src/prism/prism.js"></script>

</body>
</html>