<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <title>Airave UI|Grid</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="menu-icon">
                <i class="fa fa-bars"></i>
            </div>     
            <div class="logo-name">
                <a href="/index.html">
                    <span class="white-color-text">Airave</span>
                    <span class="logo">UI</span>
                </a>
            </div>
            <div class="nav">                    
                <ul class="nav-links">
                    <a href="https://github.com/aiman-ansari"><li><i class="fa fa-github"></i></li></a>               
                    <a href="https://www.linkedin.com/in/aiman-ansari-0054a01a7/"><li><i class="fa fa-linkedin"></i></li></a>
                    <a href="https://twitter.com/_aimanansari"><li><i class="fa fa-twitter"></i></li></a>
                    <span class="toggle-theme">
                        <li><i class="fa fa-moon-o" ></i></li>
                    </span>   
                </ul>
            </div>
        </div>
        <div class="left-sidebar pd-1">
            <ul>
                <li><h5>Getting started</h5></li>
                <li><a href="/src/components/Installation/Install.html">Installation</a></li>
                <li><a href="/src/components/colors/color.html">Colors</a></li>
                <li><a href="/src/components/Text-utilities/Text-utilities.html">Text Utilities</a></li>
                <li><h5>Components</h5></li>
                <li><a href="/src/components/alert/Alert.html">Alert</a></li>
                <li><a href="/src/components/avatar/Avatar.html">Avatar</a></li>
                <li><a href="/src/components/Badge/Badge.html">Badge</a></li>
                <li><a href="/src/components/Image/Image.html">Image</a></li>
                <li><a href="/src/components/Button/Button.html">Button</a></li>
                <li><a href="/src/components/cards/card.html">Card</a></li>
                <li><a href="/src/components/Input/Input-field.html">Input Field</a></li>
                <li><a href="/src/components/Rating/Rating.html">Rating</a></li>
                <li><a href="/src/components/list/list.html">Lists</a></li>
                <li><a href="/src/components/Navigation/Navigation.html">Navigation</a></li>
                <li><a href="/src/components/Grid/Grid.html" class="active">Grid</a></li>
                <li><a href="/src/components/Slider/slider.html">Slider</a></li>
                <li><a href="/src/components/Toast/Toast.html">Toast</a></li>
                <li><a href="/src/components/Modal/Modal.html">Modal</a></li>

            </ul>
        </div>
    <main>
        <div class="container-section">
            <div id="grid-2">
                <h2>Grid</h2>
                <p class="mt-1 mb-1">You can use Grid to make your html page responsive</p>
                <h2>Grid - 2 Items</h2>
                <div class="demo-container">
                    <div class="grid-two-items">
                        <div class="grid-item-1 pd-1 bg-gray">Grid Item 1</div>
                        <div class="grid-item-2 pd-1 bg-light-gray-1">Grid item 2</div>
                    </div>
                </div>
            </div>
                <pre>
                    <code class="language-html">
&lt;div class=&quot;grid-two-items&quot;&gt;
    &lt;div class=&quot;grid-item-1 &quot;&gt;Grid Item 1&lt;/div&gt;
    &lt;div class=&quot;grid-item-2 &quot;&gt;Grid item 2&lt;/div&gt;
&lt;/div&gt;
 </code>
</pre>
            
            <div id="grid-3">
                <h2>Grid - 3 Items</h2>
                <div class="demo-container mb-1 ">
                    <div class="grid-three-items">
                        <div class="grid-item-1 pd-1 bg-gray">Grid Item 1</div>
                        <div class="grid-item-2 pd-1 bg-light-gray-1">Grid item 2</div>
                        <div class="grid-item-3 pd-1 bg-primary">Grid Item 3</div>
                    </div>
                </div>
                <pre>
                    <code class="language-html">
&lt;div class=&quot;grid-three-items&quot;&gt;
    &lt;div class=&quot;grid-item-1 &quot;&gt;Grid Item 1&lt;/div&gt;
    &lt;div class=&quot;grid-item-2 &quot;&gt;Grid item 2&lt;/div&gt;
    &lt;div class=&quot;grid-item-3 &quot;&gt;Grid item 3&lt;/div&gt;
&lt;/div&gt;
                </code>
                </pre>
                <div id="grid-4">
                    <h2>Grid - 4 Items</h2>
                    <div class="demo-container mb-1 ">
                        <div class="grid-four-items">
                            <div class="grid-item-1 pd-1 bg-gray">Grid Item 1</div>
                            <div class="grid-item-2 pd-1 bg-light-gray-1">Grid item 2</div>
                            <div class="grid-item-3 pd-1 bg-primary">Grid Item 3</div>
                            <div class="grid-item-4 pd-1 bg-tertiary">Grid Item 4</div>
                        </div>
                    </div>
                </div>
                <pre>
                    <code class="language-html">
&lt;div class=&quot;grid-four-items&quot;&gt;
    &lt;div class=&quot;grid-item-1 &quot;&gt;Grid Item 1&lt;/div&gt;
    &lt;div class=&quot;grid-item-2 &quot;&gt;Grid item 2&lt;/div&gt;
    &lt;div class=&quot;grid-item-3 &quot;&gt;Grid item 3&lt;/div&gt;
    &lt;div class=&quot;grid-item-4 &quot;&gt;Grid item 4&lt;/div&gt;
&lt;/div&gt;
                </code>
                </pre>

            </section>                
    </main>
    <div class="right-sidebar">
        <ul>
            <li><h5>On this page</h5></li>
            <li><a href="#grid-2">Grid - 2 Items</a></li>
            <li><a href="#grid-3">Grid - 3 Items</a></li>
            <li><a href="#grid-4">Grid - 4 Items</a></li>
        </ul>
    </div>
    </div>
    <script src="/src/index.js"></script>
    <script src="/src/prism/prism.js"></script>

</body>
</html>