
.modal{
    padding: 2rem;
    width: 30rem;
    display: none;
    position: absolute;
    background-color: var(--light-gray-2);
}
.modal-body{
    margin-bottom: 2rem;
}
.modal-action{
    display: flex;
    justify-content: center;
    gap:1rem
}