:root{
    --body-color:rgb(41, 41, 41);
}
body{
    color:var(--body-color);
}
.main-section{
    display: flex;
    flex-direction: row;
    margin: 5rem;
    display: grid;
    grid-template-areas: 
    "desc image";
}
.nav{
    position: relative;
}
.content-description{
    grid-area: desc;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 2rem 1rem;
}
.bold-gray-text{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.bold-purple-text{
    color:var(--purple-color)
}
.content-button{
    padding: 1rem 0rem;
}
.btn-purple{
    background-color: var(--purple-color);
    color:var(--white)
}
.btn-outline-purple{
    background-color: var(--white);
    border: 2px solid var(--purple-color);
    color:var(--purple-color);
    width: 2rem;
}
.btn-outline-purple:hover{
    background-color: var(--purple-color);
    color: var(--white);
}
 .image{
    height: 20rem;
    width: 25rem;
    grid-area: image;
    margin-right: 4rem;
}
footer{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-color);
    color: var(--white);
    position: relative;
    width: 100%;
    bottom: 0;
}
 @media (max-width:480px){
    .navbar{
        width: 1fr;
    }
    .image{
        margin-right: 0rem;
        height: 15rem;
        width:22rem
    }
    .main-section{
        margin: 1rem;
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "image"
        "desc"
    }
} 
