<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/components/component.css">
    <title>Airave UI</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="menu-icon">
                <i class="fa fa-bars"></i>
            </div>     
            <div class="logo-name">
                <a href="/index.html">
                    <span class="white-color-text">Airave</span>
                    <span class="logo">UI</span>
                </a>
            </div>
            <nav>                    
                <ul class="nav-links">
                    <a href="https://github.com/aiman-ansari"><li><i class="fa fa-github"></i></li></a>               
                    <a href="https://www.linkedin.com/in/aiman-ansari-0054a01a7/"><li><i class="fa fa-linkedin"></i></li></a>
                    <span class="toggle-theme">
                        <li><i class="fa fa-moon-o" ></i></li>
                    </span>   
                </ul>
            </nav>
        </div>
        <div class="left-sidebar pd-1">
            <ul>
                <li><h4>Getting started</h4></li>
                <li><a href="/src/components/Installation/Install.html">Installation</a></li>
                <li><a href="/src/components/colors/color.html"><li>Colors</a></li>
                <li><a href="/src/components/Text-utilities/Text-utilities.html">Text Utilities</a></li>
                <li><h4>Components</h4></li>
                <li><a href="/src/components/alert/Alert.html">Alert</a></li>
                <li><a href="/src/components/avatar/Avatar.html">Avatar</a></li>
                <li><a href="/src/components/Badge/Badge.html">Badge</a></li>
                <li><a href="/src/components/Image/Image.html" class="active">Image</a></li>
                <li><a href="/src/components/Button/Button.html">Button</a></li>
                <li><a href="/src/components/cards/card.html">Card</a></li>
                <li><a href="/src/components/Input/Input-field.html">Input Field</a></li>
                <li><a href="/src/components/Rating/Rating.html">Rating</a></li>
                <li><a href="/src/components/list/list.html">Lists</a></li>
                <li><a href="/src/components/Navigation/Navigation.html">Navigation</a></li>
            </ul>
        </div>
    <main>
        <div class="container-section">
            <h2>Image</h2>
            <p class="mt-1 mb-1 bold-text">Image can be customized and can be responsive to fit the parent's width</p> 
            <hr>    
            <div id="responsive-image">
                    <h2 class="mt-1">Responsive Image</h2>
                        <p class="mt-1">Responsive images will automatically adjust to fit the size of the screen.</p>
                        Resize the browser window to see the responsive effect.
                    <div class="demo-container">
                            <img class="responsive-img" src="/src/assest/image-1.jpg"/>
                    </div> 
                </div>
                <pre>
                    <code class="language-html">
&lt;img class=&quot;responsive-img&quot; src=&quot;/src/assest/avatar-1.jpg&quot;/&gt;
                    </code>
                </pre>
                <div id="round-image">
                    <h2>Round Image</h2>
                    <p class="mt-1">You can create round image using class<span class="purple-text">round-img</span></p>          
                        <div class="demo-container">
                                <img class="responsive-img round-img" src="/src/assest/image-2.jpg"/>
                        </div>  
                </div>  
                <pre>
                    <code class="language-html">
&lt;img class=&quot;responsive-img round-img&quot; src=&quot;/src/assest/avatar-1.jpg&quot;/&gt;
                    </code>
                </pre>
    </main>
    <div class="right-sidebar">
        <ul>
            <li><h4>On this page</h4></li>
            <li><a href="#responsive-image">Responsive Image</a></li>
            <li><a href="#round-image">Round image</a></li>
        </ul>
    </div>
    </div>
    <script src="/src/index.js"></script>
    <script src="/src/prism/prism.js"></script>

</body>
</html>
<body>
